@charset "UTF-8";

html {
    font-weight: 10px;
    font-size: calc(0.43vw + 3px);
    text-align: justify;
    color: #3e3e3e;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body {
	background-color: #ED9636;
}

/* 
--------------------------- */

a {
    text-decoration: none;
    color: #3e3e3e;
}

.sb-link {
    color: #608dee;
    border-bottom: solid .19rem #608dee;
}

li {
    list-style: none;
}

h1 {
    font-size: 4.8rem;
    line-height: 0;
}

h2 {
    font-size: 5rem;
    font-weight: normal;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4 {
    font-size: 2.5rem;
    font-weight: normal;
}

p,
dt,
dd,
input,
select,
textarea {
    font-size: 2rem;
}

img {
    box-sizing: border-box;
}

.respond-content {
    display: block;
}

.mobile-content {
    display: none;
}

.page-header {
    background: transparent;
    width: fit-content;
    padding: 3rem;
    border-radius: 3rem;
    height: fit-content;
}

.page-title {
    margin-top: 40vh;
    color: #FF8B20;
    background: white;
    border-radius: 3rem 3rem 0 0;
    padding: 3rem 3rem 0rem 3rem;
}

.page-title.transition,
.page-list.transition {
    color: #41dd87;
}

.page-list {
    color: #FF8B20;
    display: flex;
    background: white;
    border-radius: 0 0 3rem 3rem;
    padding: 0 3rem 3rem 3rem;
}

.page-list span {
    color: #ccc;
    transition: .3s;
}

.page-list a:hover span {
    color: #FF8B20;
    transition: .3s;
}
