@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	background-color: #ec9023;
	font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

img {
	max-width: 100% ;
	height: auto;
	object-fit:cover;
	}

hr {
	border-top: 1px solid #ccc;
	margin: 2em auto;
}

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin : 0 auto;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin : 0 auto;
}

.container img {
	width: auto;
	height: auto;
	object-fit:fill;
}

/*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width:767px){
	.container {
		width: 100%;
		max-width :1000px;
		margin: 0 auto;
		}
	}
	
	/*ウィンドウ幅が最大767pxまでの場合に適用*/
	@media screen and (max-width:767px){
		.container {
			width: 100%;
			max-width :767px;
			margin: auto;
			}
		}
	
	/*ウィンドウ幅が最大479pxまでの場合に適用*/
	@media screen and (max-width:479px){
		.container {
			width: 100%;
			max-width:479px;
			margin: auto;
			}
		}

.main {
		width: 100%;
		max-width :800px;
		height: auto;
		margin: 0 auto;
		padding: 4em 2em;
		background-color: #fff;
		border-radius: 10px; 
		}

		.main_img {
			width: 100%;
			max-width: 1200px;
			max-height: 650px;
			object-fit: cover;/*画像の縦横比を維持したままボックスを埋めてトリミング*/
			margin: 1em auto;
		}

/*ウィンドウ幅が767px以上の場合に適用*/
@media screen and (min-width:767px){
.main {
	width: 100%;
	max-width :800px;
	height: auto;
	margin: 1em auto;
	padding: 2em 2em;
	background-color: #fff;
	}
}

/*ウィンドウ幅が最大767pxまでの場合に適用*/
@media screen and (max-width:767px){
	.main {
		width: 100%;
		max-width :700px;
		height: auto;
		margin: 1em auto;
		padding: 1em 1em;
		background-color: #fff;
		}
	}

/*ウィンドウ幅が最大479pxまでの場合に適用*/
@media screen and (min-width:479px){
	.main {
		width: 100%;
		max-width:470px;
		height: auto;
		margin: 2em auto;
		padding: 1em auto;
		background-color: #fff;
		}
	}
	

.main p {
	font-size: 1em;
	line-height: 1.7em;
	text-align: center;
}

.main h2 {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
	color: #666;
}

.startform h3{
	font-size: 0.9em;
	text-align: center;
}

.startform {
	width: 100%;
	margin:auto;
	text-align: center;
}

.startform input {
	width: 100%;
	max-width: 435px;
	border: none;
	margin: 1em auto 0 auto;
	padding: 1.5em 1rem;
	border-radius: 0.3rem;
	background-color: #ec912370;
	color: darken(#ec9023, 50%);
}

.input:focus {
	outline: 0;
	border: 2px solid #ec7323;
}

button {
	width: 100%;
	border-radius: 10px;
	padding: 20px;
	background-color: #ec9023;
	font-size: 20px;
	border: none;
	margin: 1em auto;
	cursor: pointer;
}

/*buttonA*/
.buttonA {
	border:3px solid #ec7323;
	background-color: #ec7323;
	color: #fff;
}

.buttonA:hover {
	border:3px solid #ec9023;
	background-color: #ec9023;
	color:  #fff;
}

footer{
	width: 100%;
	max-width: 800px;
	margin: 1em auto;
	text-align: center;
	font-size: 0.7em;
}

h1{
	display: none;
}

.username {
	font-size: 1.2em;
}

.jobname{
	font-size: 1.4em;
	font-weight: 700;
}

.question {
	width: 100%;
	margin: 2em auto;
	text-align: center;
}

.question img {
	width: 50%;
	height: auto;
	margin: 1em;
}

.question h3 {
	font-size: 1.4em;
}

.select{
	width: 100%;
	margin: auto;
}

.select button {
	width: 48%;
	margin:auto 3px;
}

.button-back {
	width: 100%;
	margin:1em auto;
	background-color: #aaa;
	color: #FFF;
}

.button-back:hover {
	border:1px solid #ccc;
	background-color: #ccc;
	color:  #fff;
}

.result_area{
	width: 100%;
	text-align: center;
}

.result_area img {
	width: 60%;
	max-width: 380px;
	height: auto;
	margin: 1em auto;
}

.jobcomment{
	width: 100%;
	max-width: 400px;
	text-align: left;
	margin: 1em auto;
}

.jobcomment p{
	font-size: 1.2em;
	text-align: left;
}

.humantype,.jobtype {
	width: 100%;
	max-width: 400px;
	text-align: left;
	margin: 2em auto;
}


.humantype h2,.jobtype h2 {
	font-size: 1em;
	color: #333;
	font-weight: 700;
	text-align: left;
}

.humantype ul {
	border: solid 2px #ffb03f;
	padding: 0 0.5em;
	position: relative;
}

.humantype ul li {
    line-height: 1.5;
    padding: 0.5em 0 0.5em 2em; /* 左側の余白を調整 */
    border-bottom: dashed 1px silver;
    list-style-type: none !important;
}

.humantype ul li:before {
	font-family: "Font Awesome 6 Free";
	content: "\f138";/*アイコン種類*/
	font: var(--fa-font-solid);
	position: absolute;
	left : 0.5em; /*左端からのアイコンまで*/
	color: #ffb03f; /*アイコン色*/
}

.humantype ul li:last-of-type {
	border-bottom: none;
}

.jobtype li {
	position: relative;
	list-style-type: none!important;/*ポチ消す*/
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-bottom: 5px;
	line-height: 1.5;
	background: #fdcc62;
	vertical-align: middle;
	color: #333;
	border-radius: 15px 0px 0px 15px;/*左側の角丸く*/
	
}

.jobtype ul li:before{ 
	display:inline-block; 
	vertical-align: middle;
	/*以下白丸つくる*/
	content:'';
	width:1em;
	height: 1em;
	background: #fff;
	border-radius: 50%;
	margin-right: 8px;
}
.jobridge {
	width: 100%;
	max-width: 400px;
	text-align: center;
	margin: 4em auto;
}

.jobridge img {
	width: 50%;
	height: auto;
	margin:1em auto;
}

.jobridge h2,.contact h2 {
	font-size: 1.4em;
	font-weight: 700;
	color: #ec7323;
}

.jobridge p {
	text-align: left;
	margin: 1em auto;
}

#strong {
	font-weight: 700;
	color:#ec7323;
}

.contact {
	width: 100%;
	max-width: 400px;
	height: auto;
	margin: auto;
}
@media (max-width: 767px) {
	.jobname {
	  font-size: 1.3rem;
	}
 }
  
  @media (max-width: 480px) {
	.jobname {
	  font-size: 1rem;
	}
 }

@media (max-width: 767px) {
	.form input,
	.form textarea {
	  width: 100%;
	  max-width: none;
	}
}